.ext-add-ticket-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.ext-add-ticket-form {
  padding: 25px;
  width: 40vw;
  animation: fadeIn 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.568);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(124, 123, 123, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}

.ext-add-ticket-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.close-btn {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  color: #ff4d4d;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: -webkit-fill-available;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #1a1a1a;
  color: #fff;
  resize: none;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #888;
}

textarea {
  /* min-height: 80px; */
  resize: vertical !important;
  max-height: 50vh;
}

.error small {
  color: #e63946;
  font-size: 12px;
}

.submit-btn {
  width: auto;
  padding: 12px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
}

.submit-btn:hover {
  background: #005fcc;
}

.submit-btn:disabled {
  background: #333;
  cursor: not-allowed;
}

.generate-btn {
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.generate-btn:hover {
  background: #005fcc;
}

.generate-btn:disabled {
  background: #333;
  cursor: not-allowed;
}

.d-flex {
  display: flex;
}

.gap-3 {
  gap: 3px;
}

.cursor-pointer {
  cursor: pointer !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
